body {
    font-family: lota;
    height:100%;
    
    }
    
    .wrapper {
    width: 600px;
    margin: 10% auto;
    color:white;
    text-align:center;
    background-color: rgba(151, 30, 30, 0.86);
        box-shadow: 1px 0px 4px 2px #9c9a9a;
        cursor: pointer;
    }
    
    h1, h2, h3 {
      font-family: lota;
      font-weight: 800;
      font-size: 2em;
      text-transform: uppercase;
    }
    
    #seconds,#hours, #tens{
      font-size:2em;
    }
    
    button{
    
    background:white;
    color:rgb(22, 174, 55);
    border: solid 1px white;
    text-decoration:none;
    cursor:pointer;
    font-size:1.2em;
    padding:18px 10px;
    width:150px;
    margin: 10px;
     outline: none;
    }
    button:hover{
        background-color: yellow;
        color:#5a1fd8;
        font-weight: 800;
        text-transform: capitalize;
        cursor: pointer;
    }
    